<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- https://www.geeksforgeeks.org/java/hibernate-create-hibernate-configuration-file-with-the-help-of-plugin/ -->
<hibernate-configuration>
    <session-factory>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <property name = "hibernate.connection.url">jdbc:h2:mem:jrjavadev1</property>
        <property name = "hibernate.connection.username">sa</property>
        <property name = "hibernate.connection.password"></property>

        <property name="connection_pool_size">1</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
    
        <property name="hibernate.current_session_context_class">thread</property>


        <mapping class="me.ryzen.jrjava1.User"/>

    </session-factory>
</hibernate-configuration>